{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="card-product detail">
    <img src="{{ object.image_product.url }}">
    <h2 class="color-blue">Name product: {{ object.product_to_send.name_product }}</h2>
    <p>Stock avaliable: {{object.stock}}</p>
    <p>Price: {{object.price}}</p>
    <p>Maker: {{object.manufacturer}}</p>
    <p>Kind of product: {{object.product_type}}</p>
    <p>Due date: {{object.due_date}}</p>
</div>

<a href="{% url 'product:index' %}">Come back</a>
{% endblock content %}