{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="card-product detail">
    <img src="{{ object.image_product.url }}">
    <h2 class="color-blue">Name product: {{ object.product_to_send.name_product }}</h2>
    <label for="">Delivery address</label>
    <p class="detail-sale">{{object.delivery_address}}</p>
    <label for="">Delivery address second</label>
    <p class="detail-sale">{{object.delivery_address_2}}</p>
    <label for="">Reference point</label>
    <p class="detail-sale">{{object.reference_point}}</p>
    <label for="">Phone</label>
    <p class="detail-sale">{{object.phone}}</p>
    <label for="">Second phone</label>
    <p class="detail-sale">{{object.phone_2}}</p>
    <label for="">Count</label>
    <p class="detail-sale">{{object.quantity}}</p>
    <label for="">Price to paid</label>
    <p class="detail-sale">${{object.price_to_paid}}</p>
    
    {% if object.dispatch_date %}
        <label for="">Dispatch date</label>        
        <p class="detail-sale">{{ object.dispatch_date|date:'M-d-Y' }}</p>
        <label for="">Arrival date</label>        
        <p class="detail-sale">{{ object.arrival_date|date:'M-d-Y' }}</p>
    {% endif %}
        
</div>

<a href="{% url 'sale:sale_product' %}">Come back</a>
{% endblock content %}