{% extends 'base.html' %}

{% load tailwind_tags %}
{% load static %}

{% block title %}
    {{ categoria.nombre_categoria }}
{% endblock title %}

{% block hero %}
    {{ categoria.portada.url }}
{% endblock hero %}


{% block name_hero %}
    <p class="text-5xl text-center text-white w-2/6">{{ categoria.nombre_categoria }}</p> 
{% endblock name_hero %}
    
{% block content %} 
    {% if contenido_404 %}
        <p class="text-5xl text-lime-600 text-center border p-8 mt-24">
            {{ contenido_404 }}
        </p>
    {% else %}
        {% include 'generales/articulos_generales.html' %}
    {% endif %}
{% endblock content %}