{% extends 'base.html' %}
{% load tailwind_tags %}
{% load static %}

{% block title %}
    {{ articulo.nombre_articulo }}
{% endblock title %}

{% block name_hero %}
    <p class="text-5xl text-center text-white w-2/6">{{ articulo.nombre_articulo }}</p> 
{% endblock name_hero %}


{% block content %}
    {% if msj_error %} <!--...-->
        <p class="text-5xl text-lime-600 text-center border p-8 mt-24">{{ msj_error }}</p>
    {% else %}
        <div>
            <p
                class="text-5xl mb-8" 
                style="font-family: 'Open Sans', sans-serif;">
                <strong>{{ articulo.nombre_articulo }}</strong>
            </p>
            <p class="text-3xl mb-4"><span>{{ articulo.resumen }}</span></p>
            <p class="text-2xl mb-4"><span>{{ articulo.contenido }}</span></p>
            <hr class="mb-14">    
        </div>
    {% endif %}
{% endblock content %}


{% block formulario_comentarios %}
    <div class="container mx-auto mt-24">
        <div class="flex flex-col justify-center items-center">
            <p class="text-3xl">¿Qué te parecio el artículo?<br>¡¡Dejanos un comentario!!</p>
            
            <div class="mt-4">
                <form action="" method="POST" >
                    {% csrf_token %}
                    <textarea 
                        class="form-input px-4 py-3 rounded-lg block mb-4" 
                        name="comentario" id="" cols="70" rows="7"
                        placeholder="Comentario..." 
                        required
                    >{% if comentario %}{{ comentario }}{% endif %}</textarea>

                    <div class="w-full flex justify-end">
                        <button 
                            type="submit"
                            class="text-white py-2 px-4 w-40 rounded-full bg-cyan-500
                            hover:bg-cyan-300 font-semibold">
                            {% if 'editar' in path %}
                                Actualizar
                            {% else %}
                                Publicar
                            {% endif %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock formulario_comentarios %}


{% block caja_comentarios %}
    <div class="container mx-auto mt-24">
        <p class="text-3xl text-gray-700">Comentarios: </p>
        <div class="flex flex-col justify-center items-center mt-8">
            
            {% for comentario in comentarios %}
                <div class="w-10/12 border p-8 mt-4">
                    <div class="w-full flex justify-between text-gray-700">
                        <p class="block text-m font-medium text-gray">
                            Comentario por: {{comentario.usuario}} <br>
                            <small class="text-gray-400">
                                {{ comentario.creado|date:"F j, Y" }}
                            </small>
                        </p>
                        
                        {% if user.is_authenticated and comentario.usuario == user %}
                            <span class="block text-m font-medium text-gray-700">
                                <a
                                    class="p-4 hover:text-cyan-500"
                                    href="{% url 'app_blog:detalle' articulo.slug %}?editar={{ comentario.id }}">
                                    Editar
                                </a>
                                <a 
                                    class="p-4 hover:text-red-500"
                                    href="{% url 'app_blog:eliminar_comentario' articulo.slug %}?eliminar={{ comentario.id }}">
                                    Eliminar
                                </a>
                            </span>
                        {% endif %}
                    </div>

                    {{comentario.comentario}}
                </div>
                            
            {% empty %}
                <p class="text-3xl text-cyan-700 boder p-8 mt-8">...{{ no_comentarios }}...</p>
            {% endfor %}
        </div>
    </div>
{% endblock caja_comentarios %}