<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bienvenido {{ nombre }} {{ apellido }} a nuestro blog</h1>

    <h3>Estos son nuestros artículos</h3>
    
    {% for articulo in articulos %}
        <p>{{ articulo.nombre_articulo }}</p>
        <p>{{ articulo.resumen }}</p>
        <p>{{ articulo.contenido }}</p>
        <hr>
    {% endfor %}
        
</body>
</html>