{% extends 'base.html' %}

{% block content %}
<div class="card">
    {% for product in products %}           
        <div class="card-product">
            <img src="{{ product.image_product.url }}">
            <h2>
                <a href="{% url 'product:detail_product' product.id %}">{{ product.name_product }}</a>
            </h2>
            <p>Quantity: {{ product.stock }}</p>
            <p>Price: {{ product.price }}</p>
            <p>Maker: {{ product.manufacturer }}</p>
            <p>Kind of product: {{ product.product_type }}</p>
            <a class="btn primary" href="{% url 'product:update_product' product.id %}">Edit</a>
            <a class="btn danger" href="{% url 'product:delete_product' product.id %}">Delete</a>
        </div>
    {% empty %}
        <p class="description">There are no registered products</p>
    {% endfor %}
</div>

{% include 'pagination.html' with page_obj=page_obj %}

<form method="POST">
    {% csrf_token %}
    <button type="submit">testing</button>
</form>

<br>
<a href="{% url 'sale:sale_product' %}#">See products to send</a>
<hr>
<br>
{% endblock content %}